<!-- component -->
<div class="antialiased bg-gradient-to-br from-blue-100 to-white">
  <div class="container px-6 mx-auto">
    <div
        class="flex flex-col text-center md:text-left md:flex-row h-screen justify-evenly md:items-center"
      >
      <div class="flex flex-col w-full">
        <div>
          <svg
              class="w-20 h-20 mx-auto md:float-left fill-stroke text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
              ></path>
          </svg>
        </div>
        <h1 class="text-5xl text-gray-800 font-bold">Area del cliente</h1>
        <p class="w-5/12 mx-auto md:mx-0 text-gray-500">
          Ingresa y asigna tu cita con facilidad y confianza
        </p>
      </div>
      <div class="w-full md:w-full lg:w-9/12 mx-auto md:mx-0">
        <div class="bg-white p-10 flex flex-col w-full shadow-xl rounded-xl">
          <h2 class="text-2xl font-bold text-gray-800 text-left mb-5">
            INICIA SESION
          </h2>
          <%= form_for(resource, as: resource_name, class:'w-full', url: session_path(resource_name)) do |f| %>
            <div class="flex flex-col w-full my-5">
              <%= f.label :email, class:'text-gray-500 mb-2' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div class="flex flex-col w-full my-5">
              <%= f.label :password, 'Clave', class:'text-gray-500 mb-2' %><br />
              <%= f.password_field :password, autocomplete: "current-password", 
                  class: 'appearance-none border-2 border-gray-100 
                          rounded-lg px-4 py-3 placeholder-gray-300 
                          focus:outline-none focus:ring-2 focus:ring-green-600 
                          focus:shadow-lg' %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <div class="actions">
              <%= f.submit "Ingresar", class:'w-full py-4 bg-blue-600 rounded-lg text-green-100' %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>